<div id="toolbox" *ngIf="row && col">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ngb-tabset>
          <ngb-tab>
            <template ngbTabTitle>Row #{{ rowIndex+1 }}</template>
            <template ngbTabContent>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"
                [checked]="!row.hasContainer"
                (change)="row.hasContainer = !row.hasContainer">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">.container-fluid</span>
              </label>
            </template>
          </ngb-tab>
          <ngb-tab>
            <template ngbTabTitle>Column #{{ colIndex+1 }}</template>
            <template ngbTabContent>
              <label class="col-form-label">Size:</label>
              <ng-select
                (change)="log()"
                [options]="sizes"
                [multiple]="true"
                [(ngModel)]="col.classes"
                [ngStyle]="{'width': '300px'}"
                (deselected)="deselected($event)"
                (selected)="selected($event)">
              </ng-select>
            </template>
          </ngb-tab>
          <ngb-tab>
            <template ngbTabTitle>Library</template>
            <template ngbTabContent>
              WIDGET
            </template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
