<div id="toolbox" *ngIf="row && col">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <ngb-tabset>
          <ngb-tab>
            <template ngbTabTitle>Row #{{ rowIndex+1 }}</template>
            <template ngbTabContent>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"
                [checked]="!row.hasContainer"
                (change)="row.hasContainer = !row.hasContainer">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">.container-fluid</span>
              </label>
            </template>
          </ngb-tab>
          <ngb-tab>
            <template ngbTabTitle>Column #{{ colIndex+1 }}</template>
            <template ngbTabContent>
              <label class="col-form-label">Size:</label>
              <ng-select
                (change)="log()"
                [options]="sizes"
                [multiple]="true"
                [(ngModel)]="col.classes"
                [ngStyle]="{'width': '300px'}"
                (deselected)="deselected($event)"
                (selected)="selected($event)">
              </ng-select>
              <div class="removal-notice">
                <button (click)="removeColumn()" class="btn btn-danger" type="button">Remove Column</button>
              </div>
            </template>
          </ngb-tab>
          <ngb-tab>
            <template ngbTabTitle>Widget</template>
            <template ngbTabContent>
              Widget Configuration
            </template>
          </ngb-tab>
          <ngb-tab>
            <template ngbTabTitle>Library</template>
            <template ngbTabContent>
              <div [dragula]='"first-bag"'>
                <div>You can move these elements between these two containers</div>
                <div>Moving them anywhere else isn't quite possible</div>
                <div>There's also the possibility of moving elements around in the same container, changing their position</div>
              </div>
              <div [dragula]='"first-bag"'>
                <div>This is the default use case. You only need to specify the containers you want to use</div>
                <div>More interactive use cases lie ahead</div>
                <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
              </div>
            </template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
