#toolbox {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 25em;
  border-top: 4px solid #0275d8;
  background: #FFF;
  padding-top: 2em;
}
#toolbox .nav-tabs {
  margin-bottom: 1em;
}
.removal-notice {
  padding-top: 40px;
}
