.add-col-button {
  border: 2px dashed #0275d8;
  line-height: 5rem;
  position: absolute;
  right: -24px;
  top: 3px;
  bottom: 3px;
  padding: 0px 10px;
  display: none;
}
.row:hover .add-col-button {
  display: block;
}
